<?xml version="1.0"?>
<launch>
  
  <!-- Ensenso wrapper-->
  <node name="ensenso_node" pkg="ensenso" type="ensenso_node" ns="ensenso" output="screen"> 
    <param name="serial_no"       type="string" value="150533" />
    <param name="camera_frame_id" type="string" value="ensenso_optical_frame" />
    <param name="front_light"     type="bool"   value="true" />
    <param name="projector"       type="bool"   value="false" />
  </node>
  <!-- RViz-->
  <node name="rviz_node" pkg="rviz" type="rviz" args="-d $(find ensenso)/config/viewer.rviz" />
  
</launch>
